In [2]:
import model
import pandas as pd

def _get_graph_data(df, source_col, sink_col, weight_col):

    nodes = df[[source_col, sink_col]].to_numpy().ravel()
    edges = df[[source_col, sink_col]].to_numpy()
    weights = df[weight_col].to_numpy()

    return nodes, edges, weights

In [3]:
df = pd.read_csv('test-cases/Nodes(3)_Edges(2)/graph_3_2_(0).csv', sep=',')

   Source  Sink  Weight
0       0     1    1.00
1       1     2   18.26

In [2]:
18.26 / 2 + 1

10.13

In [3]:
1 / 2 + 18.26

18.76

In [5]:
18.1 + 18

36.1

In [5]:
L = .5
L * 18.26 + 18.25, L * 18.25 + 18.26

(27.380000000000003, 27.385)